# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore npm debug log
npm-debug.log*

# Ignore yarn error log
yarn-error.log*

# Ignore production build output directory
build/
dist/

# Ignore any local configuration files
*.config.local

# Ignore macOS system files
.DS_Store

# Ignore Editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace
